---
---

@import "{{ site.theme }}";
#header-background{
	background:url('http://ncmhe.github.io/header.png');
	background-size: cover;
	background-position: center;
}
.page-header{
	height: 375px
}
body{
	background:url('http://ncmhe.github.io/body.png');
	background-size: cover;
	background-position: center;
}